#### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path

#### Read in Files

In [2]:
# Import data

apple_path = Path('Resources/AAPL.csv')
google_path = Path('Resources/GOOG.csv')
meta_path = Path('Resources/META.csv')

# Read in data and index by date
apple_data = pd.read_csv(apple_path, index_col='Date')
goog_data = pd.read_csv(google_path, index_col='Date')
meta_data = pd.read_csv(meta_path, index_col='Date')

#### Output of sample data

In [3]:
# Show sample of Apple data

               Open        High         Low       Close   Adj Close     Volume
Date
1/2/23   130.279999  130.899994  124.169998  129.619995  129.243622  369948500
1/9/23   130.470001  134.919998  128.119995  134.759995  134.368698  333335200
1/16/23  134.830002  138.610001  133.770004  137.869995  137.469666  271823400
1/23/23  138.119995  147.229996  137.899994  145.929993  145.506256  338655600
1/30/23  144.960007  157.380005  141.320007  154.500000  154.051376  480249700

In [4]:
# Show sample of Google data

              Open        High        Low       Close   Adj Close     Volume
Date
1/2/23   89.830002   91.550003  85.570000   88.160004   88.160004   97533700
1/9/23   89.195000   92.980003  86.699997   92.800003   92.800003  113236000
1/16/23  92.779999   99.419998  90.839996   99.279999   99.279999  124989900
1/23/23  99.129997  101.580002  95.262001  100.709999  100.709999  143746600
1/30/23  98.745003  108.820000  97.519997  105.220001  105.220001  156510500

In [5]:
# Show sample of Meta data

               Open        High         Low       Close   Adj Close     Volume
Date
1/2/23   122.820000  130.330002  122.279999  130.020004  130.020004  120957200
1/9/23   131.160004  137.679993  127.150002  136.979996  136.979996  133938000
1/16/23  136.179993  139.940002  132.139999  139.369995  139.369995   98676900
1/23/23  139.289993  153.190002  138.660004  151.740005  151.740005  137316300
1/30/23  149.410004  197.160004  146.949997  186.529999  186.529999  340828600

#### Concatenate data by rows using concat function and inner join

In [6]:
# Join by rows axis

               Open        High         Low       Close   Adj Close     Volume
Date
1/2/23   130.279999  130.899994  124.169998  129.619995  129.243622  369948500
1/9/23   130.470001  134.919998  128.119995  134.759995  134.368698  333335200
1/16/23  134.830002  138.610001  133.770004  137.869995  137.469666  271823400
1/23/23  138.119995  147.229996  137.899994  145.929993  145.506256  338655600
1/30/23  144.960007  157.380005  141.320007  154.500000  154.051376  480249700
2/6/23   152.570007  155.229996  149.220001  151.009995  150.571503  330758800
2/13/23  150.949997  156.330002  150.850006  152.550003  152.339294  316792400
2/20/23  150.199997  151.300003  145.720001  146.710007  146.507355  213742300
2/27/23  147.710007  151.110001  143.899994  151.029999  150.821381  273994900
3/6/23   153.789993  156.300003  147.610001  148.500000  148.294876  313350800
3/13/23  147.809998  156.740005  147.699997  155.000000  154.785904  410426600
3/20/23  155.070007  162.139999  154.149994  160.250000  160.028656  350100100
3/27/23  159.940002  165.000000  155.979996  164.899994  164.672226  267939700
4/3/23   164.270004  166.839996  161.800003  164.660004  164.432556  200156300
4/10/23  161.419998  166.320007  159.779999  165.210007  164.981812  263326300
4/17/23  165.089996  168.160004  164.029999  165.020004  164.792068  249953100
4/24/23  165.000000  169.850006  162.800003  169.679993  169.445618  256274000
5/1/23   169.279999  174.300003  164.309998  173.570007  173.330261  360586400
5/8/23   172.479996  174.589996  171.000000  172.570007  172.331635  250026700
5/15/23  173.160004  176.389999  170.419998  175.160004  175.160004  258597700
5/22/23  173.979996  175.770004  170.520004  175.429993  175.429993  250355000
1/2/23    89.830002   91.550003   85.570000   88.160004   88.160004   97533700
1/9/23    89.195000   92.980003   86.699997   92.800003   92.800003  113236000
1/16/23   92.779999   99.419998   90.839996   99.279999   99.279999  124989900
1/23/23   99.129997  101.580002   95.262001  100.709999  100.709999  143746600
1/30/23   98.745003  108.820000   97.519997  105.220001  105.220001  156510500
2/6/23   102.684998  108.669998   93.860001   94.860001   94.860001  279981700
2/13/23   95.010002   97.879997   92.650002   94.589996   94.589996  189331400
2/20/23   93.239998   93.415001   88.860001   89.349998   89.349998  121977600
2/27/23   90.089996   94.110001   89.519997   94.019997   94.019997  133166200

#### Concatenate data by columns using concat function and inner join

In [7]:
# Join by columns axis

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
1/2/23,130.279999,130.899994,124.169998,129.619995,129.243622,369948500,89.830002,91.550003,85.570000,88.160004,88.160004,97533700,122.820000,130.330002,122.279999,130.020004,130.020004,120957200
1/9/23,130.470001,134.919998,128.119995,134.759995,134.368698,333335200,89.195000,92.980003,86.699997,92.800003,92.800003,113236000,131.160004,137.679993,127.150002,136.979996,136.979996,133938000
1/16/23,134.830002,138.610001,133.770004,137.869995,137.469666,271823400,92.779999,99.419998,90.839996,99.279999,99.279999,124989900,136.179993,139.940002,132.139999,139.369995,139.369995,98676900
1/23/23,138.119995,147.229996,137.899994,145.929993,145.506256,338655600,99.129997,101.580002,95.262001,100.709999,100.709999,143746600,139.289993,153.190002,138.660004,151.740005,151.740005,137316300
1/30/23,144.960007,157.380005,141.320007,154.500000,154.051376,480249700,98.745003,108.820000,97.519997,105.220001,105.220001,156510500,149.410004,197.160004,146.949997,186.529999,186.529999,340828600
2/6/23,152.570007,155.229996,149.220001,151.009995,150.571503,330758800,102.684998,108.669998,93.860001,94.860001,94.860001,279981700,186.529999,193.779999,173.350006,174.149994,174.149994,196256000
2/13/23,150.949997,156.330002,150.850006,152.550003,152.339294,316792400,95.010002,97.879997,92.650002,94.589996,94.589996,189331400,178.220001,181.509995,169.699997,172.880005,172.880005,130805500
2/20/23,150.199997,151.300003,145.720001,146.710007,146.507355,213742300,93.239998,93.415001,88.860001,89.349998,89.349998,121977600,174.309998,178.169998,167.660004,170.389999,170.389999,96834900
2/27/23,147.710007,151.110001,143.899994,151.029999,150.821381,273994900,90.089996,94.110001,89.519997,94.019997,94.019997,133166200,171.880005,186.619995,169.059998,185.250000,185.250000,159556200
3/6/23,153.789993,156.300003,147.610001,148.500000,148.294876,313350800,94.360001,96.300003,90.800003,91.010002,91.010002,135073900,188.000000,190.360001,178.800003,179.509995,179.509995,141591100
3/13/23,147.809998,156.740005,147.699997,155.000000,154.785904,410426600,90.565002,103.489998,89.940002,102.459999,102.459999,232819600,177.960007,205.759995,174.820007,195.610001,195.610001,209082400
3/20/23,155.070007,162.139999,154.149994,160.250000,160.028656,350100100,101.059998,107.510002,100.790001,106.059998,106.059998,148115600,198.479996,207.880005,193.639999,206.009995,206.009995,140597200
3/27/23,159.940002,165.000000,155.979996,164.899994,164.672226,267939700,105.320000,105.400002,100.279999,104.000000,104.000000,129573000,204.809998,212.169998,197.899994,211.940002,211.940002,104554200
4/3/23,164.270004,166.839996,161.800003,164.660004,164.432556,200156300,102.669998,109.629997,102.379997,108.900002,108.900002,97645500,208.839996,216.940002,208.199997,216.100006,216.100006,84452000
4/10/23,161.419998,166.320007,159.779999,165.210007,164.981812,263326300,107.389999,109.580002,104.970001,109.459999,109.459999,103633800,214.710007,222.110001,210.660004,221.490005,221.490005,96690000

#### Concatenate data by rows using concat function and inner join and provide the stock as keys.

In [8]:
# Join by rows and add the stock ticker as the key.

                      Open        High         Low       Close   Adj Close  \
       Date
Apple  1/2/23   130.279999  130.899994  124.169998  129.619995  129.243622
       1/9/23   130.470001  134.919998  128.119995  134.759995  134.368698
       1/16/23  134.830002  138.610001  133.770004  137.869995  137.469666
       1/23/23  138.119995  147.229996  137.899994  145.929993  145.506256
       1/30/23  144.960007  157.380005  141.320007  154.500000  154.051376
       2/6/23   152.570007  155.229996  149.220001  151.009995  150.571503
       2/13/23  150.949997  156.330002  150.850006  152.550003  152.339294
       2/20/23  150.199997  151.300003  145.720001  146.710007  146.507355
       2/27/23  147.710007  151.110001  143.899994  151.029999  150.821381
       3/6/23   153.789993  156.300003  147.610001  148.500000  148.294876
       3/13/23  147.809998  156.740005  147.699997  155.000000  154.785904
       3/20/23  155.070007  162.139999  154.149994  160.250000  160.028656
       3/27/23  159.940002  165.000000  155.979996  164.899994  164.672226
       4/3/23   164.270004  166.839996  161.800003  164.660004  164.432556
       4/10/23  161.419998  166.320007  159.779999  165.210007  164.981812
       4/17/23  165.089996  168.160004  164.029999  165.020004  164.792068
       4/24/23  165.000000  169.850006  162.800003  169.679993  169.445618
       5/1/23   169.279999  174.300003  164.309998  173.570007  173.330261
       5/8/23   172.479996  174.589996  171.000000  172.570007  172.331635
       5/15/23  173.160004  176.389999  170.419998  175.160004  175.160004
       5/22/23  173.979996  175.770004  170.520004  175.429993  175.429993
Google 1/2/23    89.830002   91.550003   85.570000   88.160004   88.160004
       1/9/23    89.195000   92.980003   86.699997   92.800003   92.800003
       1/16/23   92.779999   99.419998   90.839996   99.279999   99.279999
       1/23/23   99.129997  101.580002   95.262001  100.709999  100.709999
       1/30/23   98.745003  108.820000   97.519997  105.220001  105.220001
       2/6/23   102.684998  108.669998   93.860001   94.860001   94.860001
       2/13/23   95.010002   97.879997   92.650002   94.589996   94.589996
       2/20/23   93.239998   93.415001   88.860001   89.349998   89.349998
       2/27/23   90.089996   94.110001   89.519997   94.019997   94.019997

                   Volume
       Date
Apple  1/2/23   369948500
       1/9/23   333335200
       1/16/23  271823400
       1/23/23  338655600
       1/30/23  480249700
       2/6/23   330758800
       2/13/23  316792400
       2/20/23  213742300
       2/27/23  273994900
       3/6/23   313350800
       3/13/23  410426600
       3/20/23  350100100
       3/27/23  267939700
       4/3/23   200156300
       4/10/23  263326300
       4/17/23  249953100
       4/24/23  256274000
       5/1/23   360586400
       5/8/23   250026700
       5/15/23  258597700
       5/22/23  250355000
Google 1/2/23    97533700
       1/9/23   113236000
       1/16/23  124989900
       1/23/23  143746600
       1/30/23  156510500
       2/6/23   279981700
       2/13/23  189331400
       2/20/23  121977600
       2/27/23  133166200

                      Open        High         Low       Close   Adj Close  \
       Date
Google 3/27/23  105.320000  105.400002  100.279999  104.000000  104.000000
       4/3/23   102.669998  109.629997  102.379997  108.900002  108.900002
       4/10/23  107.389999  109.580002  104.970001  109.459999  109.459999
       4/17/23  105.430000  107.050003  103.800003  105.910004  105.910004
       4/24/23  106.050003  109.150002  103.269997  108.220001  108.220001
       5/1/23   107.720001  108.680000  104.500000  106.214996  106.214996
       5/8/23   105.794998  118.440002  105.790001  117.919998  117.919998
       5/15/23  116.489998  126.478996  116.480003  123.250000  123.250000
       5/22/23  123.510002  127.050003  120.750000  125.430000  125.430000
Meta   1/2/23   122.820000  130.330002  122.279999  130.020004  130.020004
       1/9/23   131.160004  137.679993  127.150002  136.979996  136.979996
       1/16/23  136.179993  139.940002  132.139999  139.369995  139.369995
       1/23/23  139.289993  153.190002  138.660004  151.740005  151.740005
       1/30/23  149.410004  197.160004  146.949997  186.529999  186.529999
       2/6/23   186.529999  193.779999  173.350006  174.149994  174.149994
       2/13/23  178.220001  181.509995  169.699997  172.880005  172.880005
       2/20/23  174.309998  178.169998  167.660004  170.389999  170.389999
       2/27/23  171.880005  186.619995  169.059998  185.250000  185.250000
       3/6/23   188.000000  190.360001  178.800003  179.509995  179.509995
       3/13/23  177.960007  205.759995  174.820007  195.610001  195.610001
       3/20/23  198.479996  207.880005  193.639999  206.009995  206.009995
       3/27/23  204.809998  212.169998  197.899994  211.940002  211.940002
       4/3/23   208.839996  216.940002  208.199997  216.100006  216.100006
       4/10/23  214.710007  222.110001  210.660004  221.490005  221.490005
       4/17/23  219.789993  220.979996  209.580002  212.889999  212.889999
       4/24/23  213.679993  241.690002  207.130005  240.320007  240.320007
       5/1/23   238.619995  244.919998  229.850006  232.779999  232.779999
       5/8/23   231.419998  238.210007  230.270004  233.809998  233.809998
       5/15/23  236.919998  248.690002  235.330002  245.639999  245.639999
       5/22/23  245.410004  262.309998  244.949997  262.040009  262.040009

                   Volume
       Date
Google 3/27/23  129573000
       4/3/23    97645500
       4/10/23  103633800
       4/17/23  108311100
       4/24/23  152080300
       5/1/23    98871600
       5/8/23   177969500
       5/15/23  138403400
       5/22/23  136293400
Meta   1/2/23   120957200
       1/9/23   133938000
       1/16/23   98676900
       1/23/23  137316300
       1/30/23  340828600
       2/6/23   196256000
       2/13/23  130805500
       2/20/23   96834900
       2/27/23  159556200
       3/6/23   141591100
       3/13/23  209082400
       3/20/23  140597200
       3/27/23  104554200
       4/3/23    84452000
       4/10/23   96690000
       4/17/23   77853600
       4/24/23  187692300
       5/1/23   132826200
       5/8/23    88989400
       5/15/23  104553200
       5/22/23  111309500

#### Combine the DataFrames horizontally using the `axis="columns"`.

In [10]:
# Join by columns and add the stock ticker as the key.

              Apple                                                  \
               Open        High         Low       Close   Adj Close
Date
1/2/23   130.279999  130.899994  124.169998  129.619995  129.243622
1/9/23   130.470001  134.919998  128.119995  134.759995  134.368698
1/16/23  134.830002  138.610001  133.770004  137.869995  137.469666
1/23/23  138.119995  147.229996  137.899994  145.929993  145.506256
1/30/23  144.960007  157.380005  141.320007  154.500000  154.051376
2/6/23   152.570007  155.229996  149.220001  151.009995  150.571503
2/13/23  150.949997  156.330002  150.850006  152.550003  152.339294
2/20/23  150.199997  151.300003  145.720001  146.710007  146.507355
2/27/23  147.710007  151.110001  143.899994  151.029999  150.821381
3/6/23   153.789993  156.300003  147.610001  148.500000  148.294876

                        Google                                                 \
            Volume        Open        High        Low       Close   Adj Close
Date
1/2/23   369948500   89.830002   91.550003  85.570000   88.160004   88.160004
1/9/23   333335200   89.195000   92.980003  86.699997   92.800003   92.800003
1/16/23  271823400   92.779999   99.419998  90.839996   99.279999   99.279999
1/23/23  338655600   99.129997  101.580002  95.262001  100.709999  100.709999
1/30/23  480249700   98.745003  108.820000  97.519997  105.220001  105.220001
2/6/23   330758800  102.684998  108.669998  93.860001   94.860001   94.860001
2/13/23  316792400   95.010002   97.879997  92.650002   94.589996   94.589996
2/20/23  213742300   93.239998   93.415001  88.860001   89.349998   89.349998
2/27/23  273994900   90.089996   94.110001  89.519997   94.019997   94.019997
3/6/23   313350800   94.360001   96.300003  90.800003   91.010002   91.010002

                          Meta                                      \
            Volume        Open        High         Low       Close
Date
1/2/23    97533700  122.820000  130.330002  122.279999  130.020004
1/9/23   113236000  131.160004  137.679993  127.150002  136.979996
1/16/23  124989900  136.179993  139.940002  132.139999  139.369995
1/23/23  143746600  139.289993  153.190002  138.660004  151.740005
1/30/23  156510500  149.410004  197.160004  146.949997  186.529999
2/6/23   279981700  186.529999  193.779999  173.350006  174.149994
2/13/23  189331400  178.220001  181.509995  169.699997  172.880005
2/20/23  121977600  174.309998  178.169998  167.660004  170.389999
2/27/23  133166200  171.880005  186.619995  169.059998  185.250000
3/6/23   135073900  188.000000  190.360001  178.800003  179.509995


          Adj Close     Volume
Date
1/2/23   130.020004  120957200
1/9/23   136.979996  133938000
1/16/23  139.369995   98676900
1/23/23  151.740005  137316300
1/30/23  186.529999  340828600
2/6/23   174.149994  196256000
2/13/23  172.880005  130805500
2/20/23  170.389999   96834900
2/27/23  185.250000  159556200
3/6/23   179.509995  141591100