In [1]:
# Import the data
import pandas as pd

# Create a Dataframe for the data
df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m14/datasets/bank_marketing.csv')
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,83,retired,divorced,primary,no,0,no,no,telephone,31,may,664,1,77.0,3,success,no
1,32,technician,married,secondary,no,1242,yes,no,NaN,2,jun,183,3,NaN,0,NaN,no
2,38,blue-collar,single,secondary,no,68,no,no,NaN,5,jun,90,2,NaN,0,NaN,no
3,30,services,single,secondary,no,677,yes,no,cellular,21,nov,108,1,NaN,0,NaN,no
4,66,retired,married,primary,no,2173,no,no,cellular,15,jul,178,1,181.0,5,failure,no
5,43,technician,single,secondary,no,0,yes,no,NaN,14,may,37,3,NaN,0,NaN,no
6,44,entrepreneur,divorced,tertiary,no,20179,yes,yes,cellular,21,nov,163,1,NaN,0,NaN,no
7,35,housemaid,divorced,primary,no,1465,no,no,NaN,20,jun,40,1,NaN,0,NaN,no
8,39,blue-collar,single,secondary,no,0,yes,no,cellular,14,may,9,10,330.0,10,other,no
9,61,management,single,tertiary,no,2,no,no,cellular,12,aug,131,1,114.0,3,failure,yes