In [1]:
# Import the necessary dependencies
import pandas as pd

In [2]:
# Read in the data as a DataFrame
# Provide the dataset over AWS S3 bucket. It's ~100 MB.
delayed_flights_url = "https://static.bc-edx.com/ai/ail-v-1-0/m5/lesson_2/delayed_flights.csv"
delayed_flights_df = pd.read_csv(delayed_flights_url)
delayed_flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN

In [3]:
# Get the columns
delayed_flights_df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [5]:
# Create a custom function that will calculate of a column from the DataFrame.

In [6]:
# Show the average time for delayed arrivals (ArrDelay) grouped by each airline carrier.
# Pass the 'ArrDelay' column to the custom function.
# Name the new column "Avg_ArrDelay".

               Avg_ArrDelay
UniqueCarrier
9E                47.996243
AA                47.794556
AQ                21.255376
AS                36.114195
B6                49.455843
CO                38.925122
DL                38.026678
EV                43.735426
F9                26.108155
FL                42.621279

In [7]:
# Use the custom function you created to calculate the average for a DataFrame colummn and
# show the average time for delayed arrivals and departures for each carrier.

               Avg_ArrDelay  Avg_DepDelay
UniqueCarrier
9E                47.996243     48.389124
AA                47.794556     46.840312
AQ                21.255376     26.680000
AS                36.114195     38.888600
B6                49.455843     50.692277
CO                38.925122     41.107583
DL                38.026678     37.734884
EV                43.735426     45.392455
F9                26.108155     25.633450
FL                42.621279     41.083869

In [8]:
# Create a custom function that returns the total of the items.

In [9]:
# Use the two custom functions you created and show the total number of flights 
# and the average number of flights that were diverted for each flight origin and destination.


# Sort the results in descending order on the new columns, and display the top 25 results.

             Total_Diverted  Avg_Diverted
Origin Dest
DAL    HOU             23.0      0.012432
ORD    LGA             22.0      0.008821
DFW    LGA             21.0      0.016693
BUR    JFK             18.0      0.118421
HLN    MSP             17.0      0.278689
ATL    LGA             17.0      0.008433
BUR    DFW             16.0      0.070796
PHX    ORD             16.0      0.014939
ATL    DFW             15.0      0.009947
SLC    GJT             14.0      0.177215
HRL    HOU             14.0      0.023569
ORD    SNA             14.0      0.022013
HOU    DAL             14.0      0.007110
ORD    DEN             13.0      0.009665
MIA    LGA             12.0      0.014252
PBI    LGA             11.0      0.025057
DTW    MDW             10.0      0.017544
SAN    ORD             10.0      0.016234
MKE    EWR             10.0      0.013966
MCI    MDW             10.0      0.013532
LAS    MDW             10.0      0.013175
LGA    DFW             10.0      0.011806
DTW    LGA             10.0      0.009690
SFO    ORD             10.0      0.007930
LAX    JFK             10.0      0.007570

In [10]:
# Create two more custom functions.
# The first one returns the number of items.


# The second one calculates the percentage.

In [11]:
# Show the total number of diverted flights, the total flights, 
# and the percentage of diverted flights for each carrier by day of the week.


# Display the top 25 rows.

                         Total_Diverted  Number of Flights  \
UniqueCarrier DayOfWeek
9E            1                    29.0             4533.0
              2                    25.0             4637.0
              3                    17.0             4338.0
              4                    35.0             4304.0
              5                    19.0             5467.0
              6                    15.0             4153.0
              7                    15.0             4401.0
AA            1                    55.0            15408.0
              2                    68.0            14349.0
              3                    66.0            13920.0
              4                    56.0            14952.0
              5                    63.0            17646.0
              6                    89.0            12522.0
              7                    72.0            14323.0
AQ            1                     1.0               69.0
              2                     0.0              101.0
              3                     0.0               95.0
              4                     0.0               76.0
              5                     1.0              163.0
              6                     3.0              133.0
              7                     1.0              113.0
AS            1                    15.0             2371.0
              2                    14.0             2191.0
              3                    16.0             2355.0
              4                    16.0             2589.0

                         % of Flights Diverted
UniqueCarrier DayOfWeek
9E            1                           0.64
              2                           0.54
              3                           0.39
              4                           0.81
              5                           0.35
              6                           0.36
              7                           0.34
AA            1                           0.36
              2                           0.47
              3                           0.47
              4                           0.37
              5                           0.36
              6                           0.71
              7                           0.50
AQ            1                           1.45
              2                           0.00
              3                           0.00
              4                           0.00
              5                           0.61
              6                           2.26
              7                           0.88
AS            1                           0.63
              2                           0.64
              3                           0.68
              4                           0.62