### Import Libraries and Dependencies

In [1]:
import pandas as pd
from pathlib import Path

### Read in files

In [2]:
# Import data


# Read in data and make the index the CustomerID

### Output sample of data

In [3]:
# Show the first five rows of France data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
CustomerID,,,,,,,
12583,536370,10002,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,0.85,France
12583,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,1.25,France
12583,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,2.95,France
12583,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,2.95,France
12583,536370,22629,SPACEBOY LUNCH BOX,24,12/1/2010 8:45,1.95,France

In [4]:
# Show the first five rows of UK data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
CustomerID,,,,,,,
17069,539490,22720,SET OF 3 CAKE TINS PANTRY DESIGN,6,12/20/2010 10:00,4.95,United Kingdom
17069,539490,22721,SET OF 3 CAKE TINS SKETCHBOOK,3,12/20/2010 10:00,4.95,United Kingdom
17069,539490,22722,SET OF 6 SPICE TINS PANTRY DESIGN,8,12/20/2010 10:00,3.95,United Kingdom
17069,539490,22723,SET OF 6 HERB TINS SKETCHBOOK,4,12/20/2010 10:00,3.95,United Kingdom
17069,539490,22961,JAM MAKING SET PRINTED,12,12/20/2010 10:00,1.45,United Kingdom

In [5]:
# Show the first five rows of Netherlands data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
CustomerID,,,,,,,
14646,539491,21981,PACK OF 12 WOODLAND TISSUES,12,12/20/2010 10:09,0.29,Netherlands
14646,539491,21986,PACK OF 12 PINK POLKADOT TISSUES,12,12/20/2010 10:09,0.29,Netherlands
14646,539491,21123,SET/10 IVORY POLKADOT PARTY CANDLES,2,12/20/2010 10:09,1.25,Netherlands
14646,539491,47599A,PINK PARTY BAGS,2,12/20/2010 10:09,2.10,Netherlands
14646,539491,22331,WOODLAND PARTY BAG + STICKER SET,2,12/20/2010 10:09,1.65,Netherlands

### Concatenate data by rows using `concat` function and `inner` join

In [6]:
# Join UK, France, and Netherlands full datasets by axis

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
CustomerID,,,,,,,
12583,536370,10002,INFLATABLE POLITICAL GLOBE,48,12/1/2010 8:45,0.85,France
12583,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,12/1/2010 8:45,1.25,France
12583,536370,21035,SET/2 RED RETROSPOT TEA TOWELS,18,12/1/2010 8:45,2.95,France
12583,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,12/1/2010 8:45,2.95,France
12583,536370,22629,SPACEBOY LUNCH BOX,24,12/1/2010 8:45,1.95,France
12583,536370,22659,LUNCH BOX I LOVE LONDON,24,12/1/2010 8:45,1.95,France
12583,536370,22544,MINI JIGSAW SPACEBOY,24,12/1/2010 8:45,0.42,France
17069,539490,22720,SET OF 3 CAKE TINS PANTRY DESIGN,6,12/20/2010 10:00,4.95,United Kingdom
17069,539490,22721,SET OF 3 CAKE TINS SKETCHBOOK,3,12/20/2010 10:00,4.95,United Kingdom
17069,539490,22722,SET OF 6 SPICE TINS PANTRY DESIGN,8,12/20/2010 10:00,3.95,United Kingdom
17069,539490,22723,SET OF 6 HERB TINS SKETCHBOOK,4,12/20/2010 10:00,3.95,United Kingdom
17069,539490,22961,JAM MAKING SET PRINTED,12,12/20/2010 10:00,1.45,United Kingdom
17069,539490,22178,VICTORIAN GLASS HANGING T-LIGHT,12,12/20/2010 10:00,1.25,United Kingdom
17069,539490,84997A,GREEN 3 PIECE POLKADOT CUTLERY SET,6,12/20/2010 10:00,3.75,United Kingdom
14646,539491,21981,PACK OF 12 WOODLAND TISSUES,12,12/20/2010 10:09,0.29,Netherlands
14646,539491,21986,PACK OF 12 PINK POLKADOT TISSUES,12,12/20/2010 10:09,0.29,Netherlands
14646,539491,21123,SET/10 IVORY POLKADOT PARTY CANDLES,2,12/20/2010 10:09,1.25,Netherlands
14646,539491,47599A,PINK PARTY BAGS,2,12/20/2010 10:09,2.10,Netherlands
14646,539491,22331,WOODLAND PARTY BAG + STICKER SET,2,12/20/2010 10:09,1.65,Netherlands
14646,539491,22333,RETROSPOT PARTY BAG + STICKER SET,2,12/20/2010 10:09,1.65,Netherlands
14646,539491,22315,200 RED + WHITE BENDY STRAWS,1,12/20/2010 10:09,1.25,Netherlands
14646,539491,22445,PENCIL CASE LIFE IS BEAUTIFUL,1,12/20/2010 10:09,2.95,Netherlands

### Concatenate data by rows using `concat` function and `inner` join and make each country a key.

In [7]:
# Join UK, France, and Netherlands full datasets by axis and add the countries to the index.


# Drop the Country column and display the updated DataFrame.

                           InvoiceNo StockCode  \
               CustomerID
France         12583          536370     10002
               12583          536370     21791
               12583          536370     21035
               12583          536370     22326
               12583          536370     22629
               12583          536370     22659
               12583          536370     22544
United Kingdom 17069          539490     22720
               17069          539490     22721
               17069          539490     22722
               17069          539490     22723
               17069          539490     22961
               17069          539490     22178
               17069          539490    84997A
Netherlands    14646          539491     21981
               14646          539491     21986
               14646          539491     21123
               14646          539491    47599A
               14646          539491     22331
               14646          539491     22333

                                                   Description  Quantity  \
               CustomerID
France         12583               INFLATABLE POLITICAL GLOBE         48
               12583        VINTAGE HEADS AND TAILS CARD GAME         24
               12583           SET/2 RED RETROSPOT TEA TOWELS         18
               12583       ROUND SNACK BOXES SET OF4 WOODLAND         24
               12583                       SPACEBOY LUNCH BOX         24
               12583                   LUNCH BOX I LOVE LONDON        24
               12583                      MINI JIGSAW SPACEBOY        24
United Kingdom 17069         SET OF 3 CAKE TINS PANTRY DESIGN          6
               17069             SET OF 3 CAKE TINS SKETCHBOOK         3
               17069         SET OF 6 SPICE TINS PANTRY DESIGN         8
               17069             SET OF 6 HERB TINS SKETCHBOOK         4
               17069                    JAM MAKING SET PRINTED        12
               17069           VICTORIAN GLASS HANGING T-LIGHT        12
               17069        GREEN 3 PIECE POLKADOT CUTLERY SET         6
Netherlands    14646              PACK OF 12 WOODLAND TISSUES         12
               14646          PACK OF 12 PINK POLKADOT TISSUES        12
               14646       SET/10 IVORY POLKADOT PARTY CANDLES         2
               14646                           PINK PARTY BAGS         2
               14646          WOODLAND PARTY BAG + STICKER SET         2
               14646         RETROSPOT PARTY BAG + STICKER SET         2

                                InvoiceDate  UnitPrice
               CustomerID
France         12583         12/1/2010 8:45       0.85
               12583         12/1/2010 8:45       1.25
               12583         12/1/2010 8:45       2.95
               12583         12/1/2010 8:45       2.95
               12583         12/1/2010 8:45       1.95
               12583         12/1/2010 8:45       1.95
               12583         12/1/2010 8:45       0.42
United Kingdom 17069       12/20/2010 10:00       4.95
               17069       12/20/2010 10:00       4.95
               17069       12/20/2010 10:00       3.95
               17069       12/20/2010 10:00       3.95
               17069       12/20/2010 10:00       1.45
               17069       12/20/2010 10:00       1.25
               17069       12/20/2010 10:00       3.75
Netherlands    14646       12/20/2010 10:09       0.29
               14646       12/20/2010 10:09       0.29
               14646       12/20/2010 10:09       1.25
               14646       12/20/2010 10:09       2.10
               14646       12/20/2010 10:09       1.65
               14646       12/20/2010 10:09       1.65

### Display the customer and products DataFrames.

In [8]:
# Show the customer data

,FirstName,LastName,Address,City,Postal,Country,JoinDate
CustomerID,,,,,,,
12583,Christine,Lagarde,26 rue des Nations Unies,SAINT-BENOÎT,97470,France,2012-09-12
17069,John,Grayken,73 Red Lane,Evershot,DT2 5JB,UK,2010-04-24
14646,Frits,Goldschmeding,Nassaupark 84,Bussum,1405 HP,Holland,2017-01-19

In [9]:
# Show the products data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
CustomerID,,,,,,,
14646,539491,21981,PACK OF 12 WOODLAND TISSUES,12,12/20/2010 10:09,0.29,Netherlands
17069,539490,22665,RECIPE BOX BLUE SKETCHBOOK DESIGN,12,12/20/2010 10:00,2.95,United Kingdom
12583,540455,22726,ALARM CLOCK BAKELIKE GREEN,16,1/7/2011 12:07,3.75,France

In [10]:
# Join the customer and products by columns axes.

,FirstName,LastName,Address,City,Postal,Country,JoinDate,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,Country
CustomerID,,,,,,,,,,,,,,
12583,Christine,Lagarde,26 rue des Nations Unies,SAINT-BENOÎT,97470,France,2012-09-12,540455,22726,ALARM CLOCK BAKELIKE GREEN,16,1/7/2011 12:07,3.75,France
17069,John,Grayken,73 Red Lane,Evershot,DT2 5JB,UK,2010-04-24,539490,22665,RECIPE BOX BLUE SKETCHBOOK DESIGN,12,12/20/2010 10:00,2.95,United Kingdom
14646,Frits,Goldschmeding,Nassaupark 84,Bussum,1405 HP,Holland,2017-01-19,539491,21981,PACK OF 12 WOODLAND TISSUES,12,12/20/2010 10:09,0.29,Netherlands